<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-logo-desc">
                <h3 class="footer-logo">NFTs Art</h3>
                <h4 class="footer-desc">Create sell, and collect <br> NFT digital art</h4>
            </div>
            <div class="footer-links">
                <ul class="footer-menu">
                    <li><NavLink href="/collection" class="footer-link">Collection</NavLink></li>
                    <li><NavLink href="/roadmap" class="footer-link">Road Map</NavLink></li>
                    <li><NavLink href="/ourclans" class="footer-link">Our Clans</NavLink></li>
                    <li><NavLink href="/faq" class="footer-link">FAQ</NavLink></li>
                </ul>
                <ul class="footer-social">
                    <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li>
                        <div id="theme-toggle">
                            <i class="fa-solid fa-moon"></i>
                        </div>
                    </li>
                </ul>
                <div class="footer-rights">
                    <p>2024. all right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
