@inherits LayoutComponentBase


<NavMenu />

@Body

@* @if (!string.IsNullOrEmpty(Message))
{
    <section class="messages-section">
        <div class="container">
            <div class="messages" id="messages">
                <div class="alert @MessageClass">@Message</div>
            </div>
        </div>
    </section>
} *@

<Footer />