@inherits LayoutComponentBase


<NavMenu />

@Body

@if (Messages.Any())
{
    <section class="messages-section">
        <div class="container">
            <div class="messages" id="messages">
                @foreach(var message in Messages)
                {
                    <div class="alert @message.Type @(message.IsDeactivated ? "deactive" : "")">@message.Value</div>
                }
            </div>
        </div>
    </section>
}

<Footer />