@page "/faq"

<PageTitle>Faq | Newsletter</PageTitle>


<main>
    <section class="newsletter-section">
        <div class="container">
            <div class="newsletter-faq">
                <div class="newsletter">
                    <div class="newsletter-info">
                        <h2 class="section-title">
                            Get the Latest Super <br> Rare Update
                        </h2>
                        <p class="section-desc">
                            Sign up to our regular newsletter for news right. <br>
                            New product release and more
                        </p>
                    </div>
                    <form action="" method="post" class="get-in-touch-form">
                        <div class="get-in-touch-input-box">
                            <i class="fa-regular fa-envelope sms-icon"></i>
                            <input type="email" name="email" class="get-in-touch-input" placeholder="Email address">
                        </div>
                        <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                    </form>
                </div>
                <div class="faq-container">
                    <h2 class="faq-title">
                        Maybe your question is have been
                        answered, check this out!
                    </h2>
                    <div class="faq-list">
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>When does minting begin?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Who can mint one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Why should I hold one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="top-collectors-section">
        <h2 class="section-title">Our Top Collectors</h2>
        <div class="top-collectors-list auto-scroll">
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar2.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar3.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar4.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar4.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-collectors-list auto-scroll">
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar4.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar2.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar4.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar2.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
            <div class="top-collector">
                <p class="top-collector-place"></p>
                <div class="avatar">
                    <a href="#"><img class="avatar-img" src="/img/avatars/avatar3.jpeg"></a>
                    <div class="avatar-icons">
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="top-collector-info">
                    <h4 class="top-collector-name">Lincoln George</h4>
                    <div class="top-collector-eth">
                        <i class="fa-brands fa-ethereum"></i>
                        <p class="eth-value">2,798</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>