@page "/ourclans"

<PageTitle>Our Clans</PageTitle>

<main>
    <section class="our-clans-section">
        <div class="container">
            <div class="our-clans">
                <div class="our-clans-desc">
                    <h2 class="section-title">Our Clans</h2>
                    <p class="section-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod erat sit amet, volutpat.
                        Posuere quis faucibus a odio. Scelerisque dui non vitae velit senectus sit. Pellentesque
                        quisque pellentesque diam enim nulla mattis mi adipiscing.
                    </p>
                </div>
                <div class="our-clans-members">
                    <div class="our-clans-member">
                        <div class="clan-member-profile">
                            <img src="img/members/member1.jpeg" alt="">
                        </div>
                        <div class="clan-member-detail">
                            <div class="clan-member-clan-name">Creators</div>
                            <div class="clan-member-desc">
                                <div class="clan-member-info">
                                    <h4 class="clan-member-name">Adison Franci</h4>
                                    <p class="clan-member-job">CO-Founder of NFTs, Offset & Offeo</p>
                                </div>
                                <div class="clan-member-social">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-clans-member">
                        <div class="clan-member-profile">
                            <img src="img/members/member2.jpeg" alt="">
                        </div>
                        <div class="clan-member-detail">
                            <div class="clan-member-clan-name">Creators</div>
                            <div class="clan-member-desc">
                                <div class="clan-member-info">
                                    <h4 class="clan-member-name">Livia Calzoni</h4>
                                    <p class="clan-member-job">CO-Founder of NFTs, Offset & Offeo</p>
                                </div>
                                <div class="clan-member-social">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-clans-member">
                        <div class="clan-member-profile">
                            <img src="img/members/member3.jpeg" alt="">
                        </div>
                        <div class="clan-member-detail">
                            <div class="clan-member-clan-name">Artist / Partnership</div>
                            <div class="clan-member-desc">
                                <div class="clan-member-info">
                                    <h4 class="clan-member-name">Lincoln George</h4>
                                    <p class="clan-member-job">Managing Partner of NFTs, Offset & Offeo</p>
                                </div>
                                <div class="clan-member-social">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-clans-member">
                        <div class="clan-member-profile">
                            <img src="img/members/member4.jpeg" alt="">
                        </div>
                        <div class="clan-member-detail">
                            <div class="clan-member-clan-name">PM / Community</div>
                            <div class="clan-member-desc">
                                <div class="clan-member-info">
                                    <h4 class="clan-member-name">Cooper Vaccaro</h4>
                                    <p class="clan-member-job">Operations Direction of NFTs, Offset & Offeo</p>
                                </div>
                                <div class="clan-member-social">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-clans-member">
                        <div class="clan-member-profile">
                            <img src="img/members/member5.jpeg" alt="">
                        </div>
                        <div class="clan-member-detail">
                            <div class="clan-member-clan-name">Tech / Contract</div>
                            <div class="clan-member-desc">
                                <div class="clan-member-info">
                                    <h4 class="clan-member-name">Davis Press</h4>
                                    <p class="clan-member-job">Chief Tech Officer of NFTs, Offset & Offeo</p>
                                </div>
                                <div class="clan-member-social">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter-section">
        <div class="container">
            <div class="newsletter-faq">
                <div class="newsletter">
                    <div class="newsletter-info">
                        <h2 class="section-title">
                            Get the Latest Super <br> Rare Update
                        </h2>
                        <p class="section-desc">
                            Sign up to our regular newsletter for news right. <br>
                            New product release and more
                        </p>
                    </div>
                    <form action="" method="post" class="get-in-touch-form">
                        <div class="get-in-touch-input-box">
                            <i class="fa-regular fa-envelope sms-icon"></i>
                            <input type="email" name="email" class="get-in-touch-input" placeholder="Email address">
                        </div>
                        <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                    </form>
                </div>
                <div class="faq-container">
                    <h2 class="faq-title">
                        Maybe your question is have been
                        answered, check this out!
                    </h2>
                    <div class="faq-list">
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>When does minting begin?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Who can mint one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Why should I hold one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
