@page "/roadmap"

<PageTitle>Road Map</PageTitle>

<main>
    <section class="hero-cards-section">
        <div class="hero-cards">
            <div class="hero-card">
                <div class="artist-desc">
                    <div class="artist-info">
                        <h4 class="artist-name">Randy George</h4>
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                    <p class="artist-subinfo">Art Director</p>
                </div>
                <div class="artist-image">
                    <img src="img/nfts/image2.jpeg" alt="no user nft">
                </div>
            </div>
            <div class="hero-card">
                <div class="artist-desc">
                    <div class="artist-info">
                        <h4 class="artist-name">Zain Lubin</h4>
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                    <p class="artist-subinfo">Art Director</p>
                </div>
                <div class="artist-image">
                    <img src="img/nfts/image1.jpeg" alt="no user nft">
                </div>
            </div>
            <div class="hero-card">
                <div class="artist-desc">
                    <div class="artist-info">
                        <h4 class="artist-name">Jakob George</h4>
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                    <p class="artist-subinfo">Art Director</p>
                </div>
                <div class="artist-image">
                    <img src="img/nfts/image3.jpeg" alt="no user nft">
                </div>
            </div>
        </div>
    </section>

    <section class="roadmap-section">
        <div class="container">
            <div class="roadmap">
                <div class="roadmap-info">
                    <h2 class="section-title">Road-Map</h2>
                    <p class="section-desc">Where Dreams Come True</p>
                </div>
                <div class="roadmap-container">
                    <div class="roadmap-indicator">
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-vector"></i>
                    </div>
                    <div class="phase phase1">
                        <h3 class="phase-title">
                            Phase 1
                            <span class="phase-state-completed">(Completed)</span>
                        </h3>
                        <p class="phase-desc">
                            The project sparked from a single moment of inspiration. With some imagination and
                            work, it started to take shape.
                        </p>
                    </div>
                    <div class="phase phase2">
                        <h3 class="phase-title">
                            Phase 2
                            <span class="phase-state-completed">(Completed)</span>
                        </h3>
                        <p class="phase-desc">
                            Building dreams require the right people and tools. We will look
                            to hire the best talents in the space that shares our vision.
                        </p>
                    </div>
                    <div class="phase phase3">
                        <h3 class="phase-title">
                            Phase 3
                            <span class="phase-state-onprogress">(On Progress)</span>
                        </h3>
                        <p class="phase-desc">
                            Watch out for the Imaginary Vehicles, “Human Leaf”. When there are
                            multiple universes, it's essential to have some transport.
                        </p>
                    </div>
                    <div class="phase phase4">
                        <h3 class="phase-title">
                            Phase 4
                            <span class="phase-state-onprogress">(On Progress)</span>
                        </h3>
                        <p class="phase-desc">
                            The Imaginary World continues to expand. Explore Imaginary Lands
                            and Companions that provide additional utility.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter-section">
        <div class="container">
            <div class="newsletter-faq">
                <div class="newsletter">
                    <div class="newsletter-info">
                        <h2 class="section-title">
                            Get the Latest Super <br> Rare Update
                        </h2>
                        <p class="section-desc">
                            Sign up to our regular newsletter for news right. <br>
                            New product release and more
                        </p>
                    </div>
                    <form action="" method="post" class="get-in-touch-form">
                        <div class="get-in-touch-input-box">
                            <i class="fa-regular fa-envelope sms-icon"></i>
                            <input type="email" name="email" class="get-in-touch-input" placeholder="Email address">
                        </div>
                        <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                    </form>
                </div>
                <div class="faq-container">
                    <h2 class="faq-title">
                        Maybe your question is have been
                        answered, check this out!
                    </h2>
                    <div class="faq-list">
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>When does minting begin?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Who can mint one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Why should I hold one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>